.wrapper-content {
    height:auto;
    min-height:100%;
    display: flex;
    width: 100%;
    align-items: stretch;
}
#toast {
    position: fixed;
    bottom: 30px;
    left: 50%;
    padding: 15px 20px;
    transform: translate(-50%, 10px);
    border-radius: 30px;
    overflow: hidden;
    font-size: .8rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s, transform .5s;
    background: rgba(0, 0, 0, .35);
    color: #fff;
    z-index: 10000;
}

#toast.reveal {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0)
}

.wrap {
    width:100%;
    overflow-x:hidden;
    overflow-y:auto;
    display:flex;
    padding : 0;
    align-items: center;
    flex-direction:column;
    justify-content:flex-end;
}
.user-inp {
    width : 80vw;
    max-width: 400px;
    height : 4rem;
    border-width:0;
    border-radius:10px;
    font-size : 1.5rem;
    padding : 1.2rem;
    background-color:#000000;
    color:#FFFFFF;
    display:block;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
}
.user-inp:disabled {
    color : #888888;
    background-color : #BBBBBB;
}

.user-inp::placeholder {
    color : #EEEEEE;
}
.user-sub {
    width : 60vw;
    max-width: 300px;
    height : 4rem;
    font-size : 2rem;
    color : #888888;
    background-color : #BBBBBB;
    border-width:0;
    border-radius:20px;
    opacity:1;
    display:block;
    margin-left:0;
    margin-right:0;
    margin-top:3rem;
    margin-bottom:5rem;
}

.user-sub.active {
    color : #000000 !important;
    background-color : var(--yellowColor) !important;
}    
